.formcontacto{
    background-color: var(--color-de-fondo);
    padding: 5rem 10rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-family: 'Ubuntu', sans-serif;
}
.formcontacto__contacto{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100%;
}

.formcontato__text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 2rem 5rem;
    
    
}
.formcontato__text>.formcontato__title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.formcontato__text>.formcontato__subtext{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-bottom: 1rem;

}
.formcontato__form{
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #657fbb;
    border-radius: 10px;
    
}

.formcontato__form>input{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}
.formcontato__form>textarea{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.formcontato__form>button{
    font-family: 'Ubuntu', sans-serif;
    width: 50%;
    margin-top: 50px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #008CBA;;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
.formcontato__form>button:hover{
    background-color: var(--color-primario);
    cursor: pointer;
}
.formcontato__text>h2{
    font-size: 30px;
    margin-bottom: 1rem;
}


@media (min-width: 768px) and (max-width: 1023px) {
    .formcontacto{
        padding: 5rem;
    }
    .formcontato__text{
        width: 100%;
        margin: 2rem 0;
    }
    .formcontato__form{
        width: 100%;
    }
    .formcontato__text>.formcontato__subtext{
        font-size: 0.8rem;
    }
}

