.experience {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 7rem;
    min-height: 100vh;
    box-sizing: border-box;
    
  }
  
  .experience__section__title {
    font-size: 30px;
    margin-bottom: 2rem;
    overflow: hidden;
  }
  
  .slide-container {
    width: 100%;
    padding: 40px 0;
  }
  
  .slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  
  .card {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    background-color: var(--color-fondo2);
  }
  
  .image-content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    row-gap: 5px;
   
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;

  }
  
  .botones {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .botones > button {
    width: 100px;
    height: 40px;
    border: none;
  }
  
  .botones > button > a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  .card-image {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    border-radius: 25px 25px 0 0; 
  }
  
  .card-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    z-index: 1;
  }
  
  .name {
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
  }
  
  .description {
    font-size: 14px;
    color: rgb(160, 160, 160);
    text-align: center;
  }
  
  .button {
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: var(--color-cuaternario);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #6e93f7;
  }
  
  .swiper-navBtn {
    color: #6e93f7;
    transition: color 0.3s ease;
  }
  
  .swiper-navBtn:hover {
    color: #fff;
  }
  
  .swiper-navBtn::before,
  .swiper-navBtn::after {
    font-size: 35px;
  }
  
  .swiper-button-next {
    right: 0;
  }
  
  .swiper-button-prev {
    left: 0;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content {
      margin: 0 10px;
    }
  
    .swiper-navBtn {
      display: none;
    }
  }
  