.academic{
    background-color: var(--color-de-fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 7rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.academic>.academic__title{
    font-size: 30px;
    margin: 10px 0;
}
.academic>.academic__courses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.academic>.academic__courses>.academic__courses__box{
    margin: 50px 0;

}
.academic>.academic__courses>.academic__courses__box>ul{
    background-color: rgba(250, 235, 215, 0.372);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 24rem;
    border-radius: 10%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.academic>.academic__courses>.academic__courses__box>ul>li{
    margin: 5px 0;
}
